.container-sidebar {
    display: inline-flex;
    width: 12.5rem;
    height: 64rem;
    padding: 5.5rem 0rem;
    align-items: flex-start;
    gap: 0.625rem;
    flex-shrink: 0;
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    border-right: 2px solid var(--phoenix-navbar-top-border-color);
    background-color: var(--phoenix-navbar-top-bg-color);
}

.collaspe {}

.side-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.side-menu-item {
    display: flex;
    width: 12.375rem;
    padding: 0.125rem 1.375rem;
    align-items: center;
    gap: 1.3125rem;

    color: var(--phoenix-900);

}


.side-menu-item:hover {
    background-color: var(--phoenix-link-hover-color);
    color: white; /* 필요에 따라 텍스트 색상도 변경 */
}

.list-group-item-sub-menu {
    display: flex;
    width: 14.375rem;
    padding: 0.125rem 2.375rem;
    align-items: center;
    gap: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: var(--phoenix-900);
}

.list-group-item-sub-menu {
    display: flex;
    width: 14.375rem;
    padding: 0.125rem 2.375rem;
    align-items: center;
    gap: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: var(--phoenix-900);
}