@charset "UTF-8";

/*게시판 타이틀 구역*/
.title{
	border: 1px solid grey;
	margin-left: 2%;
	margin-bottom: 1.6rem;
	padding: 1.6rem;
}
.mainTitle{
	color: #58b483;
}

/*게시글 작성 버튼*/
.btn_write{
	width: 60%;
	background-color : #58b483;
	color : white;
	border-radius: 30px;
	font-weight: bold;  
	font-size: 16px;
	text-align: center;
}
.btn_write:hover{
	background: #43a06f;
	color : white;
}

/*검색창*/
.searchArea{
	/*border: 1px solid;*/
	width: 100%;
}
#search{
	margin-left: 4%;
	display: inline-block;
	width: 80%;
}
#btn_search{
	display: inline-block;
	width: 15%;
}


/*최신순/인기순 선택*/
.nav{
	padding: 0 0 0 0;
}

.listOption{
	float: left;
}

.listOptionArea{
	display: flex;
	justify-content: end;
}


/*게시글 목록 카드*/
/*.actList{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}*/

.card {
      width: 23%;
      float: left;
      margin-left: 2%;
      margin-bottom: 20px;
      cursor: pointer;
}
.card:nth-child(4n) {
      margin-right: 0;
}

.card-img-top{
	width: 100%;
	height: 250px;
   overflow: hidden;
}

.like-button {
	border : solid 1px #43a06f;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	display: inline-block;
	text-align: center;
}

/* 좋아요 버튼 눌렀을 때 스타일 */
.liked {
	background-color: #43a06f;
	color: white;
}
.hit{
	display: inline-block;
	float: right; 
	margin-left: 0.8rem;
	padding: 0 0.8rem 0 0.8rem;
	width: fit-content;
	border: 1px solid lightgray;
	border-radius: 2rem;
	text-align: center;
}


/* 모달 CSS */
/*.modal-dialog {
  margin: 0;
  width: 50%;  가로 길이를 화면 전체 가로 길이의 절반으로 설정 
  max-width: 100%;  최대 가로 길이는 화면 전체 가로 길이로 제한 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-lg{
	width: 1080px;
}
.modal-dialog.modal-fullsize {
  width: 880px;
  height: 90%;  세로 크기를 90%로 설정 
}

.modal-content.modal-fullsize {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.modal-header {
  display: flex;
  flex-direction: column;
}

.modal-body {
  height: 100%;
   background-color: #ffffff;
  display: flex;
}

.modal-left {
  width: 49%;
  border: 1px solid;
  display: inline-block;
}

.contentImage {
  width: 100%;
  height: 80%;
}

.modal-right {
  position: relative;
  width: 49%;
  display: inline-block;
}

.rightTop {
  height: 93%;
  display: flex;
  flex-direction: column;
}

.rightBottom {
  height: 7%;
  display: flex;
}

.modal-footer{
	background-color: #ffffff;
}

#addComment {
  width: 85%;
}

#btn_addComment {
  width: 15%;
}
*/

