@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

.card {
	width: 100%;
	float: left;
	margin-left: 2%;
	margin-bottom: 20px;
}

.card:nth-child(4n) {
	margin-right: 0;
}

.card-img-top {
	width: 100%;
	height: 250px;
	overflow: hidden;
}
.name{
	left: 50px;
	margin:0px;
}
.cardbody {
	width: 100%;
	height: 30px;
	display: flex;
	text-align: center;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 20px;
}
.card-text{
	font-size: 14px;
	padding-right: 10%;
	text-align: start;
}
.card-start{
	font-size: 14px;
	padding-left: 10%;
	padding-right: 10%;
	text-align: start;
	margin-top: 20px;
	
	}
.card-bottom {
	float: left;
}

.cart {
	float: left;
	margin-right: 5px;
}


.like-button {
	border : solid 1px #43a06f;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	display: inline-block;
	text-align: center;
}

/* 좋아요 버튼 눌렀을 때 스타일 */
.liked {
	background-color: #43a06f;
	;
	color: white;
}

.page-link:hover{
      background-color: rgb(227, 244, 229) !important;
      color:black
    }
    .page-link{
      color: black !important;
      border-radius: 60% !important;
      border : none !important;
    }
    .Page{
      border-radius: 60% !important;
    }
    .pagination{
      border-radius: 60% !important;
    }
    
.list{
	height: auto;
}