@charset "UTF-8";
:root{
	
}

 .page-link:hover{
      background-color: rgb(227, 244, 229) !important;
      color:black
    }
    .page-link{
      color: black !important;
      border-radius: 60% !important;
      border : none !important;
    }
    .Page{
      border-radius: 60% !important;
    }
    .pagination{
      border-radius: 60% !important;
    }


.custom-btn{
  background-color : #58b483;
  color : white;
  text-align: center;
}
.custom-btn:hover{
  background: #43a06f;
  color : white;
} 
.custom-reverse-btn{
  color : #58b483;
  background-color : white;
  text-align: center;
  border-color: #43a06f;
}
.custom-reverse-btn:hover{
  background: #43a06f;
  color : white;
} 
body{
      font-family: "IBM Plex Sans KR";
}