<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>위얼스교육 - 찾아가는환경교육</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/main/style.css">
<link rel="stylesheet" href="/css/education/education.css">

</head>
<body>
<div class="container">
  <div th:include="/main/header.html"></div>
  
 		<!--상단배너-->
		<div class="container p-5 my-5 border">
		  <h1 style="font-weight: bold; color: #43a06f;">찾아가는 환경교육</h1>
		  <p>위얼스학교의 특별한 환경교육 강의입니다.</p>
		</div>

	    
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
		  <div class="container-fluid">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="#">인기순</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">최신순</a>
		        </li>
		      </ul>
		      <form class="d-flex" role="search">
		          <select class="form-select" aria-label="Default select example">
		            <option selected>- 전체 -</option>
		            <option value="1">제목</option>
		            <option value="2">내용</option>
		            <option value="3">교육대상</option>
		          </select>
		          &nbsp;&nbsp;
		          <input class="form-control me-2" type="search" placeholder="검색해주세요" aria-label="검색해주세요">
		          <button class="btn custom-btn" type="submit">search</button>
		        </form>
		    </div>
		  </div>
		</nav>
				
		<!--교육목록  -->
		<div begin="1" end="12" >
			
			<!-- 첫 번째 카드 -->
			<div class="card">
			  <img class="card-img-top" src="/images/education/edu21.jpg" alt="Card image" style="width: 100%">
			  <div class="card-body">
			    <h5 class="card-title">탄소중립을 위한 방법</h5>
			    <p class="card-text">탄소중립을 위한 방법을 알고 싶다면?</p>
			    <div class="row">
			      <div class="col"><a href="#" class="btn custom-btn btn-sm">모집중</a></div>
			      <div class="col"><a href="#" onclick="changeImage('1')" style="margin-left: 90px;"><img id="1" src="/images/education/whiteHeart.jpg" width="28px"/></a></div>
			    </div>
			  </div>
			</div>
			
			<!-- 두 번째 카드 -->
			<div class="card">
			  <a href="/school/education/detail"><img class="card-img-top" src="/images/education/edu20.jpg" alt="Card image" style="width: 100%"></a>
			  <div class="card-body">
			    <h5 class="card-title">순환하는 텃밭가꾸기</h5>
			    <p class="card-text">흙을 살리는 방법으로 텃밭을 만들어갑니다.</p>
			    <div class="row">
			      <div class="col"><a href="/school/education/detail" class="btn custom-btn btn-sm">모집중</a></div>
			      <div class="col"><a href="#" onclick="changeImage('2')" style="margin-left: 90px;"><img id="2" src="/images/education/whiteHeart.jpg" width="28px"/></a></div>
			    </div>
			  </div>
			</div>
			
			
			<div class="card">
				<img class="card-img-top" src="/images/education/edu19.jpg" alt="Card image"
					style="width: 100%">
				<div class="card-body">
					<h5 class="card-title">탄소중립을 위한 방법</h5>
					<p class="card-text">탄소중립을 위한 방법을 알고 싶다면?</p>
					<div class="row">
				      <div class="col"><a href="/school/education/detail" class="btn custom-btn btn-sm">모집중</a></div>
				      <div class="col"><a href="#" onclick="changeImage('3')" style="margin-left: 90px;"><img id="3" src="/images/education/whiteHeart.jpg" width="28px"/></a></div>
				    </div>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="/images/education/edu18.jpg" alt="Card image"
					style="width: 100%">
				<div class="card-body">
					<h5 class="card-title">탄소중립을 위한 방법</h5>
					<p class="card-text">탄소중립을 위한 방법을 알고 싶다면?</p>
					<div class="row">
				      <div class="col"><a href="/school/education/detail" class="btn custom-btn btn-sm">모집중</a></div>
				      <div class="col"><a href="#" onclick="changeImage('4')" style="margin-left: 90px;"><img id="4" src="/images/education/whiteHeart.jpg" width="28px"/></a></div>
				    </div>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="/images/education/edu12.jpg" alt="Card image"
					style="width: 100%">
				<div class="card-body">
					<h5 class="card-title">탄소중립을 위한 방법</h5>
					<p class="card-text">탄소중립을 위한 방법을 알고 싶다면?</p>
					<a href="#" class="btn custom-btn btn-sm">모집중</a>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="/images/education/edu16.jpg" alt="Card image"
					style="width: 100%">
				<div class="card-body">
					<h5 class="card-title">탄소중립을 위한 방법</h5>
					<p class="card-text">탄소중립을 위한 방법을 알고 싶다면?</p>
					<a href="#" class="btn custom-btn btn-sm">모집중</a>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="/images/education/edu15.jpg" alt="Card image"
					style="width: 100%">
				<div class="card-body">
					<h5 class="card-title">탄소중립을 위한 방법</h5>
					<p class="card-text">탄소중립을 위한 방법을 알고 싶다면?</p>
					<a href="#" class="btn custom-btn btn-sm">모집중</a>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="/images/education/edu14.jpg" alt="Card image"
					style="width: 100%">
				<div class="card-body">
					<h5 class="card-title">탄소중립을 위한 방법</h5>
					<p class="card-text">탄소중립을 위한 방법을 알고 싶다면?</p>
					<a href="#" class="btn custom-btn btn-sm">모집중</a>
				</div>
			</div>
		</div>
		
		<div class="grid text-center" style="--bs-columns: 4;">
			<nav aria-label="Page navigation example">
			  &nbsp;<ul class="pagination justify-content-center"> &nbsp;
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li class="page-item"><a class="page-link" href="#">1</a></li>
			    <li class="page-item"><a class="page-link" href="#">2</a></li>
			    <li class="page-item"><a class="page-link" href="#">3</a></li>
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
		
		<div th:include="/main/footer.html"></div>
	</div>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
 	 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
 	 <script src="/js/education/education.js"></script> 
  	 <script src="/js/education/detail.js"></script>  
</body>
</html>