<link rel="stylesheet" href="shopping/style.scss" />

<header class="side" role="banner">
  <h3 class="logo">
    <span>카테고리</span>
  </h3>
  <hr>
  <div class="nav-wrap">
    <nav class="main-nav" role="navigation">
      <ul class="unstyled list-hover-slide">
        <li><a href="#">인기상품</a></li>
        <li><a href="#">식  &nbsp; &nbsp; &nbsp; &nbsp;품</a></li>
        <li><a href="#">생활용품</a></li>
        <li><a href="#">주방용품</a></li>
        <li><a href="#">욕실용품</a></li>
        <li><a href="#">선물키트</a></li>
      </ul>
    </nav>
   
  </div>
</header>